// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  background-image: url('purty_wood.png');
}

.navbar-brand {
  font-family: 'Freckle Face', cursive;
  font-size: 3em;
}

.recipe-image {
  width: 100%;
}
